@charset "utf-8";

@font-face {
	font-family: "NanumSquare";
	font-weight: 300;
	src: url(../fonts/NanumSquareL.eot);
	src: url(../fonts/NanumSquareL.eot?#iefix) format('embedded-opentype'),
	url(../fonts/NanumSquareL.woff) format('woff'),
	url(../fonts/NanumSquareL.ttf) format('truetype');
}

@font-face {
	font-family: "NanumSquare";
	font-weight: 500;
	src: url(../fonts/NanumSquareR.eot);
	src: url(../fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
	url(../fonts/NanumSquareR.woff2) format('woff2'),
	url(../fonts/NanumSquareR.woff) format('woff'),
	url(../fonts/NanumSquareR.ttf) format('truetype');
}

@font-face {
	font-family: "NanumSquare";
	font-weight: 700;
	src: url(../fonts/NanumSquareB.eot);
	src: url(../fonts/NanumSquareB.eot?#iefix) format('embedded-opentype'),
	url(../fonts/NanumSquareB.woff2) format('woff2'),
	url(../fonts/NanumSquareB.woff) format('woff'),
	url(../fonts/NanumSquareB.ttf) format('truetype');
}

.offscreen {position:absolute; overflow:hidden; clip:rect(0 0 0 0); margin:-1px; width:1px; height:1px}
.box{padding:20px; box-sizing:border-box}


.wrap{position:relative; background:#eff2f5}

.header{height:70px; background:#fff url(../images/header_line.png) repeat-x left bottom}
.header .inner_header{width:1180px; margin:0 auto}
.header .sec_title{padding-top:10px}
.header .sec_title a{display:block; width:250px; height:50px; background:url(../images/logo.png) no-repeat left center}

#container{width:1180px; margin:0 auto}

/*topnav*/

.gnb{position:relative; margin-top:30px; border-radius:5px; box-shadow:0 1px 1px 1px rgba(0,0,0,.2); background:#fff}
.gnb::after{content:''; display:block; clear:both}
.gnb .list_gnb{width:1180px; overflow:hidden}
.gnb li{position:relative; float:left; height:80px; border-right:1px solid #ebebeb; text-align:center; box-sizing:border-box}
.gnb li a{display:block; padding:20px 40px 12px; line-height:23px; font-size:17px; font-weight:500; color:#0a6057; word-break:keep-all}
.gnb li.on a{font-weight:700; color:#27b2a5}
.gnb li.on a::after{content:''; position:absolute; display:block; top:0; left:0; width:170px; height:4px; background:#27b2a5}
.gnb li a:hover{font-weight:700; color:#27b2a5}
.gnb li a:hover::after{content:''; position:absolute; display:block; top:0; left:0; width:170px; height:4px; background:#27b2a5}

.gnb .slick-prev, .gnb .slick-next{top:5px}
.gnb .slick-prev{left:0px}
.gnb .slick-next{right:0px}

/*.btn_prev, .btn_next{position:absolute; top:50%; display:block; width:30px; height:70px; margin-top:-35px; text-indent:-5000px; overflow:hidden; background-repeat:no-repeat; background-position:center center}
.btn_prev{left:10px; background-image:url(../images/arr_prev_01.png)}
.btn_next{right:10px; background-image:url(../images/arr_next_01.png)}*/

.slick-prev, .slick-next{position:absolute; top:35px; display:block; width:30px; height:70px; text-indent:-5000px; overflow:hidden; background-repeat:no-repeat; background-position:center center; z-index:10}
.slick-prev{left:5px; background-image:url(../images/arr_prev_01.png)}
.slick-next{right:5px; background-image:url(../images/arr_next_01.png)}

.inner_top{margin-top:13px}
.inner_top::after{content:''; display:block; clear:both}

.inner_bottom{margin-top:10px}
.inner_bottom::after{content:''; display:block; clear:both}
.inner_top > section, .inner_bottom > section, .partners{border-radius:5px; background:#fff; overflow:hidden; box-sizing:border-box}

/*main slide*/

.sec_slide{position:relative; float:left; width:650px; height:270px}
/*.sec_slide .indicator{position:absolute; left:50%; bottom:10px; width:200px}*/
.sec_slide div{position:relative}
.sec_slide .cont_slide{position:absolute; left:0; top:70px; width:100%; text-align:center}
.sec_slide .cont_slide .copy_slide{font-size:16px; line-height:20px; color:#fff}
.sec_slide .cont_slide .copy_slide em{display:block; margin-top:5px; font-size:36px; line-height:45px}
.sec_slide .slick-dots{position:absolute; bottom:20px; left:50%; transform:translateX(-50%)}
.sec_slide .slick-dots::after{content:''; display:block; clear:both}
.sec_slide .slick-dots li{float:left; width:10px; height:10px; margin-right:9px; border-radius:5px; text-indent:-5000px; overflow:hidden; background:#fff}
.sec_slide .slick-dots li.slick-active{width:46px}
.sec_slide .slick-dots li button{text-indent:-5000px; overflow:hidden}
.list_pagenation{position:absolute; left:50%; bottom:12px; width:30px; margin-left:-77px; color:#fff}
.list_pagenation::after{content:''; display:block; clear:both}
.list_pagenation li{float:left; margin-left:1px}

/* 바로가기 서비스 */

.sec_tit{padding:20px 0 15px; margin:0 20px; border-bottom:1px solid #e5e5e5; font-size:18px; font-weight:700; line-height:24px}
.sec_service{position:relative; float:right; width:520px; height:270px}
.list_service{padding:0 35px}
.list_service::after{content:''; display:block; clear:both}
.list_service li{position:relative; float:left; margin:20px 5px 0}
.list_service li a{display:block; width:102px; padding-top:110px; font-size:18px; color:#333; text-align:center}
.list_service .txt_eng{display:block; font-size:13px; line-height:15px; color:#333}
.list_service li a::after{content:''; display:block; position:absolute; top:0; left:0; width:102px; height:110px; background-image:url(../images/sp_service.png); background-repeat:no-repeat}

.list_service li.item_weather a::after{background-position:0 0}
.list_service li.item_time a::after{background-position:0 -110px}
.list_service li.item_rate a::after{background-position:0 -220px}
.list_service li.item_oil a::after{background-position:0 -330px}

.list_service li.item_weather a:hover::after{background-position:-110px 0}
.list_service li.item_time a:hover::after{background-position:-110px -110px}
.list_service li.item_rate a:hover::after{background-position:-110px -220px}
.list_service li.item_oil a:hover::after{background-position:-110px -330px}

/*.list_service .bar{position:absolute; top:58px; left:35px; display:block; width:102px; height:2px; background:#204172}*/
.list_service li a:hover::before{content:''; display:block; position:absolute; top:-20px; left:0; display:block; width:102px; height:2px; background:#204172}

/* 공지사항 */

.sec_notice{float:left; width:650px; height:220px}

.sec_notice .area_calendar{position:relative; float:left; width:300px; height:inherit}
.sec_notice .area_calendar img{width:100%}
.sec_notice .area_calendar .box_date{position:absolute; top:130px; left:25px}
.sec_notice .area_calendar span{display:block; margin-left:3px; font-size:14px; font-weight:bold; line-height:20px; color:#fff}
.sec_notice .area_calendar strong{display:block; font-size:50px; line-height:55px; color:#fff}
.sec_notice .area_notice{position:relative; float:right; width:340px}
.sec_notice .area_notice .more{position:absolute; top:3px; right:3px; display:block; width:55px; height:55px; background:url(../images/ico_more_01.png) no-repeat center center; text-indent:-5000px; overflow:hidden}
.sec_notice .area_notice .box_cont{padding:20px; box-sizing:border-box}
.sec_notice .area_notice .box_cont strong{font-size:18px; line-height:25px; word-break:keep-all; color:#111}
.sec_notice .area_notice .box_cont p{margin-top:10px; font-size:14px; line-height:20px; color:#666}

/* 게시판 탭 */
.sec_board{float:right; width:520px; height:220px}
.tab_list{width:100%; border-bottom:1px solid #656c70; background:#656c70}
.tab_list::after{display:block; clear:both; content:''}
.tab_list .btn_tab{float:left; width:33.33%; padding:16px 15px 14px; border-right:1px solid #8e9193; font-size:15px; line-height:24px; text-align:center; color:#e5e6e6; background:#9ea2a4}
.tab_list .btn_tab:last-child{border-right:none}
.tab_list .btn_tab.on{color:#fff; background:#656c70}
.tab_list .btn_tab.on::after{content:''; display:inline-block; margin-top:3px; margin-left:10px; width:4px; height:7px; background:url(../images/arr_state.png) no-repeat}

.tab_panel{display:none; padding:20px; box-sizing:border-box}
.tab_panel.on{display:block}
.tab_panel .item a{position:relative; display:block; padding:12px 40px 11px; border-bottom:1px solid #f2f2f2}
.tab_panel .item a:hover{color:#ef6528}
.tab_panel .item a::after{content:''; display:block; position:absolute; left:0; top:8px; width:28px; height:28px; background-image:url(../images/ico_question.png); background-position:0 0; background-repeat:no-repeat}
.tab_panel .item a:hover::after{background-position:0 -30px}
.tab_panel .item:last-child a{border-bottom:0 none}

/* 협력사 */
.partners{position:relative; margin:10px 0 20px; padding:15px 78px}
.partners .slick-list{top:4px}
.partners .list_partners{width:1024px}
.partners .list_partners::after{content:''; display:block; clear:both}
.partners li{float:left; margin:0; vertical-align:middle; text-align:center;box-sizing: border-box ;width:auto;padding:0 22px}
.partners a{display:inline-block; text-indent:-5000px; overflow:hidden}
.partners .slick-prev, .partners .slick-next{top:-6px; width:60px; height:60px}
.partners .slick-prev{left:-60px; background-image:url(../images/arr_prev_03.png)}
.partners .slick-next{right:-60px; background-image:url(../images/arr_next_03.png)}

/*팝업*/
.popup{background:#fff}
.popup .pop_logo{position:relative; height:59px; border-bottom:2px solid #e5971b}
.popup .pop_logo img{position:absolute; top:15px; left:23px}
.popup .pop_contents{padding:10px; background-color:#eff2f5}
.popup .pop_inner{padding:16px 20px 20px 20px; background-color:#fff}
.popup .pop_inner .tit{font-size:18px; margin-bottom:5px}